.header-container {
    display: flex;
    justify-content: center; /* Horizontally center the content */
    /* align-items: center; Vertically center the content */
    height: 100vh; /* Use the full viewport height */
}

.centered-content {
    text-align: center; /* Center the text horizontally */
}

.slogan {
    max-width: 1442px;
    color: #068FFF;
    margin: auto;
    position: relative;
<<<<<<< HEAD
    font-size: 64px;
    overflow: hidden;
  
  }
  
 
  
=======
    font-size:64px ;
    padding-top: 89px;
}
>>>>>>> 0c64a5d5daec3cf7379140e704cc587df0bc8dc6
.signupbtn-container {
    text-align: center;
    
}

.signupbtn {
    background-color:green;
    color: #FFFFFF;
    width: 180px;
    height: 50px;
    border-radius: 10px;
    border-color: transparent;
    font-size: 30px;
    font-family: --poppins;
    cursor: pointer;
<<<<<<< HEAD
=======
      
>>>>>>> 0c64a5d5daec3cf7379140e704cc587df0bc8dc6

    
}

body {
    background-color: #0D0D0D;
    background: linear-gradient(to bottom,#313131, #068FFF,);
    

    
    
}

.signupoffer {
    color: #FFFFFF;
    font-size: 32px;
    font-weight: 300;
    text-decoration: none; /* Remove the default underline */
    transition: color 0.3s, text-decoration 0.3s; /* Add transition for smooth effect */
}

.signupoffer:hover {
    
    text-decoration: underline; /* Add underline on hover */
}



