.header-container {
    display: flex;
    justify-content: center; /* Horizontally center the content */
    /* align-items: center; Vertically center the content */
    height: 100vh; /* Use the full viewport height */
}

.centered-content {
    text-align: center; /* Center the text horizontally */
}

.slogan {
    max-width: 1442px;
    color: #068FFF;
    margin: auto;
    position: relative;
    font-size: 64px;
    overflow: hidden;
  
  }
  
 
  
.signupbtn-container {
    text-align: center;
    
}

.signupbtn {
    background-color:green;
    color: #FFFFFF;
    width: 180px;
    height: 50px;
    border-radius: 10px;
    border-color: transparent;
    font-size: 30px;
    font-family: --poppins;
    cursor: pointer;

    
}

body {
    background-color: #313131;
    background: linear-gradient(to bottom,#313131, #068FFF,)
    
}

.signupoffer {
    color: #FFFFFF;
    font-size: 32px;
    font-weight: 300;
    text-decoration: none; /* Remove the default underline */
    transition: color 0.3s, text-decoration 0.3s; /* Add transition for smooth effect */
}

.signupoffer:hover {
    
    text-decoration: underline; /* Add underline on hover */
}



