/* Gmpgnavbar.css */

.topbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(41, 41, 41, 1);
  padding: 10px 20px;
}

.logo {
  max-width: 100%;
  height: auto;
}

.icons {
  display: flex;
  gap: 10px; /* Add some space between icons */
}

/* Style for the icon buttons */
.icons button {
  background: transparent;
  border: none;
  cursor: pointer;
  font-size: 18px; /* Set the icon size */
  color: #E9D4D4; /* Set the icon color */
  transition: transform 0.2s ease-in-out; /* Add a slight transform effect on hover */
}

/* Style for the active icon button */
.icons button.active {
  /* background-color: rgba(78, 79, 235, 1); */
  border-radius: 50%; /* Make the active button round */
  color: white; /* Change the icon color when active */
  transform: scale(1.1); /* Slightly scale up the active button on hover */
}

/* Style for the deposit button */
.deposit {
  background-color: rgba(78, 79, 235, 1);
  color: white;
  border-radius: 10px;
  padding: 8px 15px;
  border: none;
  font-family: 'Poppins', sans-serif;
  cursor: pointer;
  border: 1px solid rgba(78, 79, 235, 1);
}

.nav-right {
  display: flex;
  align-items: center;
}

.languageswitcher {
  margin-right: 10px; /* Add space between language switcher and deposit button */
}

.nav-btn select {
  background-color: rgba(41, 41, 41, 1);
  border: none;
  color: white;
  font-family: 'Poppins', sans-serif;
  cursor: pointer;
}
